@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background: #feac5e;
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  transition: 0.6s linear;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 1%;
}
.mycard {
  width: 480px;
  background-color: rgb(227, 220, 235);
  border-radius: 10px;
  margin: 5px;
  padding: 10px 40px 40px 40px;
  text-transform: uppercase;
}
.info {
  font-size: 1.2rem;
}
.container .mimg img {
  object-fit: cover;
  height: 250px;
  width: 100%;
  transition: 0.6s linear;
}
.imgbtn,
.mybtn {
  align-items: center;
  display: flex;
  justify-content: center;
}
.mybtn {
  margin-top: 10px;
  transition: 0.4s linear;
}
.mybtnb {
  display: flex;
  margin-top: 10px;
  color: #7ed6df;
  text-decoration: none;
  border: 2px solid;
  padding: 8px 24px;
  border-radius: 20px;
  transition: 0.4s linear;
  align-items: center;
  justify-content: center;
}
.mybtn:hover {
  transform: scale(1.06);
}
.imgbtn img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin: 0.3rem;
  border: 2px solid #8888;
  transition: 0.6s linear;
}
@media screen and (max-width: 500px) {
  .mycard {
    width: 90%;
  }
}
